@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  outline: none;
}

h1 {
  font-size: 2rem;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.box {
  width: 400px;
  height: 400px;
  background-color: #000;
  margin: 20px;
}

.shortcode {
  color: #ff0000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.shortcode-box {
  margin-top: 20px;
  background-color: #ececec;
  padding: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
}

.container {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  text-align: center;
}

.slider-flex {
  display: flex;
  justify-content: center;
}

.slider-flex:nth-of-type(1) {
  margin-top: 20px;
}

.slider-width:nth-of-type(2n) {
  margin-left: 20px;
}

.slider-width {
  width: 100px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.vertical-bars {
  display: flex;
}

.slider-flex-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slider-height {
  height: 100px;
}

.slider-height:nth-of-type(2n) {
  margin-top: 20px;
}

.noUi-tooltip {
  display: none;
}

.noUi-active .noUi-tooltip {
  display: block;
}

.space {
  display: flex;
  justify-content: space-between;
}

.space .copy {
  border: none;
  display: block;
  padding: 5px 5px 0px 5px;
  border-radius: 10px;
}

.space .copy:hover {
  cursor: pointer;
  background-color: #8a8a8a;
}
